[Unit]
Description=todoapp

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/node ~/todoapp/dist/index.js
WorkingDirectory=~/todoapp/

[Install]
WantedBy=multi-user.target
