[Unit]
Description=todoapp

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=node /home/todoapp/todoapp/dist/index.js
WorkingDirectory=/home/todoapp/todoapp/

[Install]
WantedBy=multi-user.target
